<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dblab2.mapper.AccessMapper">
    <insert id="addAccess" parameterType="Access">
        insert into access(m_id,s_id) values(#{m_id},#{s_id})
    </insert>

    <delete id="deleteAccess" parameterType="int">
        delete from access where a_id = #{a_id}
    </delete>

    <select id="selectAccess" resultType="AccessView">
        select a_id,access.s_id,m_name,s_name from access,merchant,storage where access.m_id=merchant.m_id and access.s_id=storage.s_id
    </select>
</mapper>