<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dblab2.mapper.OutputMapper">
    <insert id="addOutput" parameterType="Output">
        insert into output(c_id,o_price) values(#{c_id},#{o_price})
    </insert>

    <delete id="deleteOutput" parameterType="Output">
        delete from output where o_id = #{o_id}
    </delete>

    <update id="updateOutput" parameterType="int">
        update output set o_price=#{o_price} where o_id=#{o_id}
    </update>

    <select id="selectOprice" resultType="Output">
        select * from output where o_id=#{o_id}
    </select>

    <select id="selectOutput" resultType="OutputView">
        select * from outputview
    </select>

    <select id="maxOid" resultType="int">
        select max(o_id) from output
    </select>
</mapper>