<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dblab2.mapper.StockMapper">
    <insert id="addStock" parameterType="Stock">
        insert into stock(s_id,g_id,s_num) values(#{s_id},#{g_id},#{s_num})
    </insert>

    <delete id="deleteStock" parameterType="Stock">
        delete from stock where s_id=#{s_id} and g_id=#{g_id}
    </delete>

    <update id="updateStock" parameterType="Stock">
        update stock set s_num=#{s_num} where s_id=#{s_id} and g_id=#{g_id}
    </update>

    <select id="selectStock" resultType="StockView">
        select s_id,stock.g_id,g_name,s_num from stock,goods where stock.g_id=goods.g_id and s_id=#{s_id}
    </select>
</mapper>